body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../team_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1200px;
    height:97px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:103px;
}

.u1 {
    position:absolute;
    left:2px;
    top:40px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../team_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:36px;
    width:124px;
    height:54px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:60px;
}

.u3 {
    position:absolute;
    left:2px;
    top:20px;
    width:120px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:366px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:581px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:676px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:482px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:250px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../team_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:960px;
    top:46px;
    width:67px;
    height:29px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:35px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../team_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1028px;
    top:46px;
    width:68px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../team_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u13 {
    position:absolute;
    left:0px;
    top:16px;
    width:1200px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:100px;
    top:105px;
    width:320px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:525px;
    top:139px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../team_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:444px;
    height:3px;
}

.u16 {
    position:absolute;
    left:100px;
    top:284px;
    width:444px;
    height:10px;
    
}

.u17_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:100px;
    top:316px;
    width:220px;
    height:110px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u18 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:100px;
    top:427px;
    width:220px;
    height:40px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u20 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:250px;
    top:201px;
    width:700px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_line {
    background-image: url('../team_files/u22_line.png');
}

.u22_line {
    position:absolute;
    left:0px;
    top:4px;
    width:455px;
    height:3px;
}

.u22 {
    position:absolute;
    left:645px;
    top:284px;
    width:455px;
    height:10px;
    
}

.u23 {
    position:absolute;
    left:544px;
    top:280px;
    width:102px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u24_container {
    position:absolute;
    left:366px;
    top:316px;
    width:220px;
    height:110px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u25 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u26_container {
    position:absolute;
    left:366px;
    top:427px;
    width:220px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u27 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u28_container {
    position:absolute;
    left:627px;
    top:316px;
    width:220px;
    height:110px;
}

#u28_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u29 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u30_container {
    position:absolute;
    left:627px;
    top:427px;
    width:220px;
    height:40px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u31 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u32_container {
    position:absolute;
    left:884px;
    top:316px;
    width:220px;
    height:110px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u33 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u34_container {
    position:absolute;
    left:884px;
    top:427px;
    width:220px;
    height:40px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u35 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:884px;
    top:477px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:100px;
    top:477px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:366px;
    top:477px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:627px;
    top:477px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_line {
    background-image: url('../team_files/u40_line.png');
}

.u40_line {
    position:absolute;
    left:0px;
    top:4px;
    width:444px;
    height:3px;
}

.u40 {
    position:absolute;
    left:100px;
    top:584px;
    width:444px;
    height:10px;
    
}

.u41_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u41_container {
    position:absolute;
    left:100px;
    top:616px;
    width:220px;
    height:110px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u42 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u43_container {
    position:absolute;
    left:100px;
    top:727px;
    width:220px;
    height:40px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u44 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_line {
    background-image: url('../team_files/u45_line.png');
}

.u45_line {
    position:absolute;
    left:0px;
    top:4px;
    width:455px;
    height:3px;
}

.u45 {
    position:absolute;
    left:645px;
    top:584px;
    width:455px;
    height:10px;
    
}

.u46 {
    position:absolute;
    left:544px;
    top:580px;
    width:102px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u47_container {
    position:absolute;
    left:366px;
    top:616px;
    width:220px;
    height:110px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u48 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u49_container {
    position:absolute;
    left:366px;
    top:727px;
    width:220px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u50 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u51_container {
    position:absolute;
    left:627px;
    top:616px;
    width:220px;
    height:110px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u52 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u53_container {
    position:absolute;
    left:627px;
    top:727px;
    width:220px;
    height:40px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u54 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u55_container {
    position:absolute;
    left:884px;
    top:616px;
    width:220px;
    height:110px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u56 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u57_container {
    position:absolute;
    left:884px;
    top:727px;
    width:220px;
    height:40px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u58 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:884px;
    top:777px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:100px;
    top:777px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:366px;
    top:777px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:627px;
    top:777px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u63_container {
    position:absolute;
    left:100px;
    top:883px;
    width:220px;
    height:110px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u64 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u65_container {
    position:absolute;
    left:100px;
    top:994px;
    width:220px;
    height:40px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u66 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u67_container {
    position:absolute;
    left:366px;
    top:883px;
    width:220px;
    height:110px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u68 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u69_container {
    position:absolute;
    left:366px;
    top:994px;
    width:220px;
    height:40px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u70 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u71_container {
    position:absolute;
    left:627px;
    top:883px;
    width:220px;
    height:110px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u72 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u73_container {
    position:absolute;
    left:627px;
    top:994px;
    width:220px;
    height:40px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u74 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u75_container {
    position:absolute;
    left:884px;
    top:883px;
    width:220px;
    height:110px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u76 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u77_container {
    position:absolute;
    left:884px;
    top:994px;
    width:220px;
    height:40px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u78 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:884px;
    top:1044px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:100px;
    top:1044px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:366px;
    top:1044px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:627px;
    top:1044px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u83_container {
    position:absolute;
    left:100px;
    top:1150px;
    width:220px;
    height:110px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u84 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u85_container {
    position:absolute;
    left:100px;
    top:1261px;
    width:220px;
    height:40px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u86 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u87_container {
    position:absolute;
    left:366px;
    top:1150px;
    width:220px;
    height:110px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u88 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u89_container {
    position:absolute;
    left:366px;
    top:1261px;
    width:220px;
    height:40px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u90 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u91_container {
    position:absolute;
    left:627px;
    top:1150px;
    width:220px;
    height:110px;
}

#u91_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u92 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u93_container {
    position:absolute;
    left:627px;
    top:1261px;
    width:220px;
    height:40px;
}

#u93_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u94 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../team_files/u17_normal.png');
}

.u95_container {
    position:absolute;
    left:884px;
    top:1150px;
    width:220px;
    height:110px;
}

#u95_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:116px;
}

.u96 {
    position:absolute;
    left:2px;
    top:47px;
    width:216px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../team_files/u19_normal.png');
}

.u97_container {
    position:absolute;
    left:884px;
    top:1261px;
    width:220px;
    height:40px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:226px;
    height:46px;
}

.u98 {
    position:absolute;
    left:2px;
    top:5px;
    width:216px;
    height:30px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:884px;
    top:1311px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:100px;
    top:1311px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:366px;
    top:1311px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:627px;
    top:1311px;
    width:220px;
    height:75px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../pagination_files/u54_normal.png');
}

.u103_container {
    position:absolute;
    left:436px;
    top:1452px;
    width:40px;
    height:40px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u104 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../pagination_files/u56_normal.png');
}

.u105_container {
    position:absolute;
    left:460px;
    top:1452px;
    width:40px;
    height:40px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u106 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../pagination_files/u56_normal.png');
}

.u107_container {
    position:absolute;
    left:500px;
    top:1452px;
    width:40px;
    height:40px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u108 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../pagination_files/u56_normal.png');
}

.u109_container {
    position:absolute;
    left:540px;
    top:1452px;
    width:40px;
    height:40px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u110 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../pagination_files/u62_normal.png');
}

.u111_container {
    position:absolute;
    left:580px;
    top:1452px;
    width:40px;
    height:40px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u112 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../pagination_files/u56_normal.png');
}

.u113_container {
    position:absolute;
    left:620px;
    top:1452px;
    width:40px;
    height:40px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u114 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../pagination_files/u56_normal.png');
}

.u115_container {
    position:absolute;
    left:660px;
    top:1452px;
    width:40px;
    height:40px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u116 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../pagination_files/u56_normal.png');
}

.u117_container {
    position:absolute;
    left:700px;
    top:1452px;
    width:40px;
    height:40px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u118 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../pagination_files/u54_normal.png');
}

.u119_container {
    position:absolute;
    left:724px;
    top:1452px;
    width:40px;
    height:40px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:46px;
    height:46px;
}

.u120 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../footer_files/u78_normal.png');
}

.u122_container {
    position:absolute;
    left:0px;
    top:1546px;
    width:1200px;
    height:289px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:295px;
}

.u123 {
    position:absolute;
    left:2px;
    top:136px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../footer_files/u80_normal.png');
}

.u124_container {
    position:absolute;
    left:100px;
    top:1547px;
    width:210px;
    height:55px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:61px;
}

.u125 {
    position:absolute;
    left:2px;
    top:20px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../footer_files/u82_normal.png');
}

.u126_container {
    position:absolute;
    left:100px;
    top:1592px;
    width:210px;
    height:10px;
}

#u126_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:16px;
}

.u127 {
    position:absolute;
    left:2px;
    top:-3px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:130px;
    top:1566px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129_normal {
    background-image: url('../footer_files/u85_normal.png');
}

.u129_container {
    position:absolute;
    left:90px;
    top:1609px;
    width:40px;
    height:40px;
}

#u129_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u130 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131_normal {
    background-image: url('../footer_files/u87_normal.png');
}

.u131_container {
    position:absolute;
    left:90px;
    top:1706px;
    width:40px;
    height:40px;
}

#u131_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u132 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133_normal {
    background-image: url('../footer_files/u89_normal.png');
}

.u133_container {
    position:absolute;
    left:90px;
    top:1659px;
    width:40px;
    height:40px;
}

#u133_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u134 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u135 {
    position:absolute;
    left:130px;
    top:1621px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:130px;
    top:1671px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137 {
    position:absolute;
    left:124px;
    top:1718px;
    width:175px;
    height:73px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:649px;
    top:1609px;
    width:330px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:649px;
    top:1645px;
    width:451px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u140 {
    position:absolute;
    left:649px;
    top:1718px;
    width:149px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u141_line {
    background-image: url('../footer_files/u97_line.png');
}

.u141_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u141 {
    position:absolute;
    left:0px;
    top:1801px;
    width:1200px;
    height:10px;
    
}

.u142 {
    position:absolute;
    left:100px;
    top:1813px;
    width:313px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144 {
    position:absolute;
    left:782px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145 {
    position:absolute;
    left:788px;
    top:3px;
    width:331px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

