body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../contact_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1200px;
    height:97px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:103px;
}

.u1 {
    position:absolute;
    left:2px;
    top:40px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../contact_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:36px;
    width:124px;
    height:54px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:60px;
}

.u3 {
    position:absolute;
    left:2px;
    top:20px;
    width:120px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:366px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:583px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:691px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:482px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:250px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../contact_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:960px;
    top:46px;
    width:67px;
    height:29px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:35px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../contact_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1028px;
    top:46px;
    width:68px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../contact_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u13 {
    position:absolute;
    left:0px;
    top:16px;
    width:1200px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:788px;
    top:3px;
    width:331px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:788px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:100px;
    top:105px;
    width:320px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:100px;
    top:147px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:100px;
    top:219px;
    width:333px;
    height:140px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:474px;
    top:219px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:474px;
    top:242px;
    width:444px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:474px;
    top:276px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:474px;
    top:296px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:474px;
    top:334px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:474px;
    top:354px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:474px;
    top:395px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:474px;
    top:415px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:474px;
    top:455px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:474px;
    top:475px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:474px;
    top:516px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:474px;
    top:536px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:474px;
    top:575px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:474px;
    top:595px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:474px;
    top:638px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:474px;
    top:658px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:474px;
    top:699px;
    width:264px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:474px;
    top:724px;
    width:444px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:474px;
    top:765px;
    width:294px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:474px;
    top:790px;
    width:444px;
    height:140px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:474px;
    top:951px;
    width:197px;
    height:37px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u40_normal {
    background-image: url('../footer_files/u78_normal.png');
}

.u40_container {
    position:absolute;
    left:0px;
    top:1039px;
    width:1200px;
    height:289px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:295px;
}

.u41 {
    position:absolute;
    left:2px;
    top:136px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../footer_files/u80_normal.png');
}

.u42_container {
    position:absolute;
    left:100px;
    top:1040px;
    width:210px;
    height:55px;
}

#u42_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:61px;
}

.u43 {
    position:absolute;
    left:2px;
    top:20px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../footer_files/u82_normal.png');
}

.u44_container {
    position:absolute;
    left:100px;
    top:1085px;
    width:210px;
    height:10px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:16px;
}

.u45 {
    position:absolute;
    left:2px;
    top:-3px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:130px;
    top:1059px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../footer_files/u85_normal.png');
}

.u47_container {
    position:absolute;
    left:90px;
    top:1102px;
    width:40px;
    height:40px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u48 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../footer_files/u87_normal.png');
}

.u49_container {
    position:absolute;
    left:90px;
    top:1199px;
    width:40px;
    height:40px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u50 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../footer_files/u89_normal.png');
}

.u51_container {
    position:absolute;
    left:90px;
    top:1152px;
    width:40px;
    height:40px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u52 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:130px;
    top:1114px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:130px;
    top:1164px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:124px;
    top:1211px;
    width:175px;
    height:73px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:649px;
    top:1102px;
    width:330px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:649px;
    top:1138px;
    width:451px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:649px;
    top:1211px;
    width:149px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u59_line {
    background-image: url('../footer_files/u97_line.png');
}

.u59_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u59 {
    position:absolute;
    left:0px;
    top:1294px;
    width:1200px;
    height:10px;
    
}

.u60 {
    position:absolute;
    left:100px;
    top:1306px;
    width:313px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

