body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../news_detail_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1200px;
    height:97px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:103px;
}

.u1 {
    position:absolute;
    left:2px;
    top:40px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../news_detail_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:36px;
    width:124px;
    height:54px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:60px;
}

.u3 {
    position:absolute;
    left:2px;
    top:20px;
    width:120px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:366px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:585px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:690px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:482px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:250px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../news_detail_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:960px;
    top:46px;
    width:67px;
    height:29px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:35px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../news_detail_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1028px;
    top:46px;
    width:68px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../news_detail_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u13 {
    position:absolute;
    left:0px;
    top:16px;
    width:1200px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:100px;
    top:107px;
    width:320px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../news_detail_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:100px;
    top:143px;
    width:250px;
    height:196px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:256px;
    height:202px;
}

.u16 {
    position:absolute;
    left:2px;
    top:90px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:113px;
    top:156px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:113px;
    top:197px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_line {
    background-image: url('../news_detail_files/u19_line.png');
}

.u19_line {
    position:absolute;
    left:0px;
    top:4px;
    width:224px;
    height:3px;
}

.u19 {
    position:absolute;
    left:113px;
    top:177px;
    width:224px;
    height:10px;
    
}

.u20 {
    position:absolute;
    left:113px;
    top:224px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:113px;
    top:251px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22 {
    position:absolute;
    left:113px;
    top:278px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:113px;
    top:305px;
    width:76px;
    height:17px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../news_detail_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:377px;
    top:143px;
    width:29px;
    height:27px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:29px;
    height:27px;
}

.u25 {
    position:absolute;
    left:2px;
    top:6px;
    width:25px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:416px;
    top:143px;
    width:132px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:417px;
    top:164px;
    width:132px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_line {
    background-image: url('../news_detail_files/u28_line.png');
}

.u28_line {
    position:absolute;
    left:0px;
    top:4px;
    width:686px;
    height:3px;
}

.u28 {
    position:absolute;
    left:416px;
    top:187px;
    width:686px;
    height:10px;
    
}

.u29 {
    position:absolute;
    left:417px;
    top:204px;
    width:685px;
    height:688px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../footer_files/u78_normal.png');
}

.u30_container {
    position:absolute;
    left:0px;
    top:914px;
    width:1200px;
    height:289px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:295px;
}

.u31 {
    position:absolute;
    left:2px;
    top:136px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../footer_files/u80_normal.png');
}

.u32_container {
    position:absolute;
    left:100px;
    top:915px;
    width:210px;
    height:55px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:61px;
}

.u33 {
    position:absolute;
    left:2px;
    top:20px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34_normal {
    background-image: url('../footer_files/u82_normal.png');
}

.u34_container {
    position:absolute;
    left:100px;
    top:960px;
    width:210px;
    height:10px;
}

#u34_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:16px;
}

.u35 {
    position:absolute;
    left:2px;
    top:-3px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:130px;
    top:934px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../footer_files/u85_normal.png');
}

.u37_container {
    position:absolute;
    left:90px;
    top:977px;
    width:40px;
    height:40px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../footer_files/u87_normal.png');
}

.u39_container {
    position:absolute;
    left:90px;
    top:1074px;
    width:40px;
    height:40px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u40 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../footer_files/u89_normal.png');
}

.u41_container {
    position:absolute;
    left:90px;
    top:1027px;
    width:40px;
    height:40px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u42 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:130px;
    top:989px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:130px;
    top:1039px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:124px;
    top:1086px;
    width:175px;
    height:73px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:649px;
    top:977px;
    width:330px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:649px;
    top:1013px;
    width:451px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:649px;
    top:1086px;
    width:149px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u49_line {
    background-image: url('../footer_files/u97_line.png');
}

.u49_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u49 {
    position:absolute;
    left:0px;
    top:1169px;
    width:1200px;
    height:10px;
    
}

.u50 {
    position:absolute;
    left:100px;
    top:1181px;
    width:313px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:788px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:788px;
    top:3px;
    width:331px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

