body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../service_detail_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:1200px;
    height:97px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:103px;
}

.u1 {
    position:absolute;
    left:2px;
    top:40px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../service_detail_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:100px;
    top:36px;
    width:124px;
    height:54px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:130px;
    height:60px;
}

.u3 {
    position:absolute;
    left:2px;
    top:20px;
    width:120px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:366px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:578px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:681px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:482px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:250px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../service_detail_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:960px;
    top:46px;
    width:67px;
    height:29px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:73px;
    height:35px;
}

.u10 {
    position:absolute;
    left:2px;
    top:7px;
    width:63px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../service_detail_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:1028px;
    top:46px;
    width:68px;
    height:29px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:35px;
}

.u12 {
    position:absolute;
    left:2px;
    top:7px;
    width:64px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../service_detail_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u13 {
    position:absolute;
    left:0px;
    top:16px;
    width:1200px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:100px;
    top:144px;
    width:183px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:100px;
    top:107px;
    width:476px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../service_detail_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1000px;
    height:3px;
}

.u16 {
    position:absolute;
    left:100px;
    top:202px;
    width:1000px;
    height:10px;
    
}

.u17_normal {
    background-image: url('../footer_files/u78_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:717px;
    width:1200px;
    height:289px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1206px;
    height:295px;
}

.u18 {
    position:absolute;
    left:2px;
    top:136px;
    width:1196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../footer_files/u80_normal.png');
}

.u19_container {
    position:absolute;
    left:100px;
    top:718px;
    width:210px;
    height:55px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:61px;
}

.u20 {
    position:absolute;
    left:2px;
    top:20px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../footer_files/u82_normal.png');
}

.u21_container {
    position:absolute;
    left:100px;
    top:763px;
    width:210px;
    height:10px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:216px;
    height:16px;
}

.u22 {
    position:absolute;
    left:2px;
    top:-3px;
    width:206px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:130px;
    top:737px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24_normal {
    background-image: url('../footer_files/u85_normal.png');
}

.u24_container {
    position:absolute;
    left:90px;
    top:780px;
    width:40px;
    height:40px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u25 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26_normal {
    background-image: url('../footer_files/u87_normal.png');
}

.u26_container {
    position:absolute;
    left:90px;
    top:877px;
    width:40px;
    height:40px;
}

#u26_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u27 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../footer_files/u89_normal.png');
}

.u28_container {
    position:absolute;
    left:90px;
    top:830px;
    width:40px;
    height:40px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u29 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:130px;
    top:792px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:130px;
    top:842px;
    width:200px;
    height:14px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:124px;
    top:889px;
    width:175px;
    height:73px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:649px;
    top:780px;
    width:330px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:649px;
    top:816px;
    width:451px;
    height:40px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:649px;
    top:889px;
    width:149px;
    height:34px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 16px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u36_line {
    background-image: url('../footer_files/u97_line.png');
}

.u36_line {
    position:absolute;
    left:0px;
    top:4px;
    width:1200px;
    height:3px;
}

.u36 {
    position:absolute;
    left:0px;
    top:972px;
    width:1200px;
    height:10px;
    
}

.u37 {
    position:absolute;
    left:100px;
    top:984px;
    width:313px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:173px;
    top:235px;
    width:898px;
    height:369px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../service_detail_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:81px;
    top:212px;
    width:76px;
    height:76px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u41 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../service_detail_files/u42_normal.png');
}

.u42_container {
    position:absolute;
    left:75px;
    top:430px;
    width:76px;
    height:76px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u43 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../service_detail_files/u44_normal.png');
}

.u44_container {
    position:absolute;
    left:75px;
    top:302px;
    width:76px;
    height:76px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:76px;
}

.u45 {
    position:absolute;
    left:2px;
    top:30px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:781px;
    top:52px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:788px;
    top:3px;
    width:331px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

